body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.my-main-content, .my-sidebar {

	background-color: cyan;
	border-radius: 5px;
	min-height:300px
}

.carousel-inner > .item > img {
	height: 300px;
	margin:auto;
}

