/*imports the base css class or all files on page*/
@import 'base.css';

.my-main-content,
.my-sidebar {
	border-radius: 5px;
	min-height: 300px
}

.carousel-inner> .item> img {
	height: 400px;
	margin: auto;
	border-radius: 5px;
}

