<?xml version="1.0"?>

<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".json" />
			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="Redirect to HTTPS" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>